@import "tailwindcss";

@theme inline {
  --color-primary: #002293;
  --color-secondary: #7C3AED;
  --color-background: #F8FAFC;
  --color-surface: #FFFFFF;
  --color-accent: #0B8B95;
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-error: #E11D48;
}

body {
  background: var(--color-background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}